In [2]:
import pandas as pd

In [38]:
df = pd.read_csv("clean_datasets/rte_2014_2024.csv",index_col=False)
display(df.head())

/var/folders/t3/myv5sjjd0537bvgr90_h_fcc0000gn/T/ipykernel_23046/194515446.py:1: DtypeWarning: Columns (18,19,20,21,22,26,27,30,31,33,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("clean_datasets/rte_2014_2024.csv",index_col=False)

,Périmètre,Nature,Date,Heures,Consommation,Prévision J-1,Prévision J,Fioul,Charbon,Gaz,...,Hydraulique - Lacs,Hydraulique - STEP turbinage,Bioénergies - Déchets,Bioénergies - Biomasse,Bioénergies - Biogaz,Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,Type de jour TEMPO
0,France,Données définitives,2014-01-01,00:00,64660.0,63200,63200.0,454.0,0.0,2303.0,...,2125,693.0,460,165.0,179.0,NaN,NaN,NaN,NaN,NaN
1,France,Données définitives,2014-01-01,00:30,63494.0,62100,61500.0,281.0,0.0,2367.0,...,2450,495.0,592,170.0,181.0,NaN,NaN,NaN,NaN,NaN
2,France,Données définitives,2014-01-01,01:00,61362.0,59900,59900.0,281.0,0.0,2188.0,...,2040,76.0,591,173.0,181.0,NaN,NaN,NaN,NaN,NaN
3,France,Données définitives,2014-01-01,01:30,61217.0,60600,60300.0,281.0,0.0,2190.0,...,1849,0.0,595,174.0,180.0,NaN,NaN,NaN,NaN,NaN
4,France,Données définitives,2014-01-01,02:00,60748.0,59900,60200.0,281.0,0.0,2187.0,...,1592,0.0,597,174.0,180.0,NaN,NaN,NaN,NaN,NaN

In [40]:
# Suppression 2014 car pas de jour temp associé
df["Date"]=pd.to_datetime(df["Date"])
df = df.loc[df["Date"].dt.year>2014,:]
# Suppression des colonnes détails d'energie
columns_to_keep = [
    'Nature',
    'Date',
    'Consommation',
    'Prévision J-1',
    'Prévision J',
    'Fioul',
    'Charbon',
    'Gaz',
    'Nucléaire',
    'Eolien',
    'Solaire',
    'Hydraulique',
    'Pompage',
    'Bioénergies',
    'Ech. physiques',
    'Taux de Co2',
    'Ech. comm. Angleterre',
    'Ech. comm. Espagne',
    'Ech. comm. Italie',
    'Ech. comm. Suisse',
    'Ech. comm. Allemagne-Belgique',
	' Stockage batterie',
    'Déstockage batterie',
    'Type de jour TEMPO',
]
df=df[columns_to_keep]
# Concat des echange commerciaux
liste_col_to_sum = [
    'Ech. comm. Angleterre',
    'Ech. comm. Espagne',
    'Ech. comm. Italie',
    'Ech. comm. Suisse',
    'Ech. comm. Allemagne-Belgique'
]
# Force column type before sum
#df[liste_col_to_sum]=df[liste_col_to_sum].astype(float)
#df["Ech_comm"] = df[liste_col_to_sum].sum()
#df.drop(liste_col_to_sum,axis=1, inplace= True)
df.head()
df.to_csv("temp.csv")

In [29]:
df[liste_col_to_sum].tail(10000)

,Ech. comm. Angleterre,Ech. comm. Espagne,Ech. comm. Italie,Ech. comm. Suisse,Ech. comm. Allemagne-Belgique
index,,,,,
170019,NaN,NaN,NaN,NaN,NaN
170020,NaN,NaN,NaN,NaN,NaN
170021,NaN,NaN,NaN,NaN,NaN
170022,NaN,NaN,NaN,NaN,NaN
170023,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
180014,NaN,NaN,NaN,NaN,NaN
180015,NaN,NaN,NaN,NaN,NaN
180016,NaN,NaN,NaN,NaN,NaN
180017,NaN,NaN,NaN,NaN,NaN
180018,NaN,NaN,NaN,NaN,NaN

In [24]:
df.head()

,Nature,Date,Consommation,Prévision J-1,Prévision J,Fioul,Charbon,Gaz,Nucléaire,Eolien,...,Ech. physiques,Taux de Co2,Ech. comm. Angleterre,Ech. comm. Espagne,Ech. comm. Italie,Ech. comm. Suisse,Ech. comm. Allemagne-Belgique,Stockage batterie,Déstockage batterie,Type de jour TEMPO
index,,,,,,,,,,,,,,,,,,,,,
17520,Données définitives,2015-01-01,74494.0,72900,73700.0,269.0,2487.0,3476.0,57982.0,1268.0,...,-1221.0,62.0,-586,1000,-1199,-1278,1028,NaN,NaN,BLANC
17521,Données définitives,2015-01-01,73481.0,71600,72400.0,319.0,2087.0,2691.0,57856.0,1343.0,...,-1356.0,54.0,-586,1000,-1199,-1278,1028,NaN,NaN,BLANC
17522,Données définitives,2015-01-01,71506.0,69900,70600.0,320.0,1716.0,2436.0,57787.0,1356.0,...,-1460.0,49.0,-1015,1100,-1168,-1430,1220,NaN,NaN,BLANC
17523,Données définitives,2015-01-01,71505.0,70600,71300.0,320.0,1589.0,2440.0,58156.0,1412.0,...,-1586.0,47.0,-1015,1100,-1168,-1430,1220,NaN,NaN,BLANC
17524,Données définitives,2015-01-01,71134.0,70500,71100.0,320.0,1490.0,2441.0,57974.0,1447.0,...,-1521.0,46.0,-1180,994,-1114,-1175,1491,NaN,NaN,BLANC

In [41]:
df.isna().sum()

Nature                                0
Date                                  0
Consommation                       2201
Prévision J-1                         0
Prévision J                           0
Fioul                              2201
Charbon                            2201
Gaz                                2201
Nucléaire                          2201
Eolien                             2201
Solaire                            2201
Hydraulique                        2201
Pompage                            2201
Bioénergies                        2201
Ech. physiques                     2201
Taux de Co2                        2201
Ech. comm. Angleterre             34724
Ech. comm. Espagne                34724
Ech. comm. Italie                 34724
Ech. comm. Suisse                 34724
Ech. comm. Allemagne-Belgique     34724
 Stockage batterie               127411
Déstockage batterie              127411
Type de jour TEMPO                    0
dtype: int64

In [13]:
df.columns

Index(['Périmètre', 'Nature', 'Date', 'Heures', 'Consommation',
       'Prévision J-1', 'Prévision J', 'Fioul', 'Charbon', 'Gaz', 'Nucléaire',
       'Eolien', 'Solaire', 'Hydraulique', 'Pompage', 'Bioénergies',
       'Ech. physiques', 'Taux de Co2', 'Ech. comm. Angleterre',
       'Ech. comm. Espagne', 'Ech. comm. Italie', 'Ech. comm. Suisse',
       'Ech. comm. Allemagne-Belgique', 'Fioul - TAC', 'Fioul - Cogén.',
       'Fioul - Autres', 'Gaz - TAC', 'Gaz - Cogén.', 'Gaz - CCG',
       'Gaz - Autres', 'Hydraulique - Fil de l?eau + éclusée',
       'Hydraulique - Lacs', 'Hydraulique - STEP turbinage',
       'Bioénergies - Déchets', 'Bioénergies - Biomasse',
       'Bioénergies - Biogaz', ' Stockage batterie', 'Déstockage batterie',
       'Eolien terrestre', 'Eolien offshore', 'Type de jour TEMPO'],
      dtype='object')

In [18]:
df[["Gaz","Gaz - TAC","Gaz - Cogén.","Gaz - CCG","Gaz - Autres"]]

           Gaz Gaz - TAC Gaz - Cogén.  Gaz - CCG  Gaz - Autres
index
17520   3476.0         3         2056     1350.0          66.0
17521   2691.0         9         1926      670.0          86.0
17522   2436.0         9         1919      422.0          86.0
17523   2440.0        10         1924      420.0          86.0
17524   2441.0         9         1927      419.0          86.0
...        ...       ...          ...        ...           ...
180014   906.0         0          449      459.0           0.0
180015   884.0         0          447      437.0           0.0
180016   916.0         0          451      466.0           0.0
180017   889.0         0          449      441.0           0.0
180018   649.0         0          448      202.0           0.0

[162499 rows x 5 columns]

In [20]:
df.

Périmètre                                       object
Nature                                          object
Date                                    datetime64[ns]
Heures                                          object
Consommation                                   float64
Prévision J-1                                    int64
Prévision J                                    float64
Fioul                                          float64
Charbon                                        float64
Gaz                                            float64
Nucléaire                                      float64
Eolien                                         float64
Solaire                                        float64
Hydraulique                                    float64
Pompage                                        float64
Bioénergies                                    float64
Ech. physiques                                 float64
Taux de Co2                                    float64
Ech. comm. Angleterre                           object
Ech. comm. Espagne                              object
Ech. comm. Italie                               object
Ech. comm. Suisse                               object
Ech. comm. Allemagne-Belgique                   object
Fioul - TAC                                    float64
Fioul - Cogén.                                 float64
Fioul - Autres                                 float64
Gaz - TAC                                       object
Gaz - Cogén.                                    object
Gaz - CCG                                      float64
Gaz - Autres                                   float64
Hydraulique - Fil de l?eau + éclusée            object
Hydraulique - Lacs                              object
Hydraulique - STEP turbinage                   float64
Bioénergies - Déchets                           object
Bioénergies - Biomasse                         float64
Bioénergies - Biogaz                           float64
 Stockage batterie                              object
Déstockage batterie                             object
Eolien terrestre                                object
Eolien offshore                                 object
Type de jour TEMPO                              object
dtype: object

In [19]:
df["temp"]= df["Gaz - TAC"]+df["Gaz - Cogén."]+df["Gaz - CCG"]+df["Gaz - Autres"]

TypeError: can only concatenate str (not "float") to str