In [1]:
import pandas as pd

In [2]:
base_tempo_path = "raw_datasets/tempo/"
all_tempo_path = []
for y in range(2014,2024):
    all_tempo_path.append(base_tempo_path + f"eCO2mix_RTE_tempo_{y}-{y+1}.xlsx")
all_tempo_path

['raw_datasets/tempo/eCO2mix_RTE_tempo_2014-2015.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2015-2016.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2016-2017.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2017-2018.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2018-2019.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2019-2020.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2020-2021.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2021-2022.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2022-2023.xlsx',
 'raw_datasets/tempo/eCO2mix_RTE_tempo_2023-2024.xlsx']

In [3]:
tempo_df = pd.DataFrame()
for path in all_tempo_path:
    temporary_df = pd.read_excel(path)
    temporary_df = temporary_df.drop(temporary_df.tail(1).index)
    tempo_df = pd.concat([tempo_df, temporary_df])

tempo_df.reset_index()

      index                 Date Type de jour TEMPO
0         0  2014-09-01 00:00:00               BLEU
1         1  2014-09-02 00:00:00               BLEU
2         2  2014-09-03 00:00:00               BLEU
3         3  2014-09-04 00:00:00               BLEU
4         4  2014-09-05 00:00:00               BLEU
...     ...                  ...                ...
3504    217  2024-04-05 00:00:00               BLEU
3505    218  2024-04-06 00:00:00               BLEU
3506    219  2024-04-07 00:00:00               BLEU
3507    220  2024-04-08 00:00:00               BLEU
3508    221  2024-04-09 00:00:00               BLEU

[3509 rows x 3 columns]

In [5]:
tempo_df.to_csv("tempo_2014_2024.csv", index=False)